<mat-toolbar>
  <div class="logo-container">
    <img src="../../../../assets/images/header-logo.svg"/>
  </div>

  <span class="title">Exper</span>
  <span class="example-spacer"></span>
  <div class="buttons-container">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openAddTripDialog()">
      <mat-icon>add</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>