$primary-color: #1B82E6;

:host ::ng-deep .mat-toolbar {
    background: $primary-color;
    color: #fff;
    position: relative;
}

.logo-container {
    margin: 0 32px 0 0;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-family: 'roboto-regular';
    font-size: 20px;
}

.buttons-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}