.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 48px;

  .title {
    font-family: confortaa-regular;
    font-size: 24px;
  }

  .logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: auto;
    width: auto;
    margin: 0px 0;
    align-items: center;

    .logo {
      width: 194px;
      height: 194px;
    }
  }

  .custom-form-control {
    height: 56px;
    border: 1px solid #2C3539;
  }

  .form-container {
    margin-bottom: 24px;
  }

  .password-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn-red-eye {
      position: absolute;
      right: 10px;
      z-index: 10;
    }
  }

  .custom-row {
    padding: 5px 15px;
    margin: 10px 0;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    font-family: roboto-regular;
  }

  .btn-sign-in {
    color: dodgerblue;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .btn-container {
    margin-top: 32px;
  } 

  .custom-btn-primary {
    background-color: #1B82E6 !important;
    color: white;
  }
 
}


.form-control::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-family: roboto-regular;
  font-size: 16px;
}

input:-internal-autofill-selected {
  font-family: roboto-regular;
  font-size: 16px;
}
