<div class="container">
  <div class="logo-container">
    <img class="logo" src="../../../assets/images/logo.svg">
  </div>

  <div class="row justify-content-center mb-2">
    <p class="title">Exper</p>
  </div>

  <div class="col-sm-6">
    <form [formGroup]="signupForm" (ngSubmit)="register()"> 
      <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-hint  *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="error-text">Invalid email address</mat-hint>
          </mat-form-field>
      </div>
      
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">remove_red_eye</mat-icon>
          <mat-hint *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="error-text">Password must have minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</mat-hint>
        </mat-form-field>
        <div *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="password-error-space"></div>
      </div>

      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">remove_red_eye</mat-icon>
          <mat-hint *ngIf="signupForm.get('confirmPassword').touched && signupForm.hasError('notSame')" class="error-text">Passwords do not match</mat-hint>
        </mat-form-field>
      </div>
    
      <div class="row custom-row">
        Already have an account? &nbsp; 
        <span class="btn-sign-in">Sign in</span>
      </div>
      
      <div class="row justify-content-center btn-container"> 
        <button
          mat-button 
          class="custom-btn-primary"
          type="submit"    
         >
          <mat-icon>login</mat-icon>
          SIGN UP
      </button>
      </div>
    </form>
  </div>
</div>