<div class="row-member">
  <div class="col-10 col-text">
    {{trip.users.length}} Members are on this trip.
  </div>
  <div class="col-2 col-add">
    <button 
      mat-icon-button 
      (click)="openDialog()" 
      matTooltip="Add Members"> 
    <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<ng-container *ngFor="let user of trip.users">
  <div class="row-member">
    <div class="col-10 col-text">
      {{user.email}}
    </div>
    <div class="col-2 col-delete">
      <button mat-icon-button>
          <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
</ng-container>