:host ::ng-deep .mat-expansion-panel {
    border-radius: 0;
    padding: 12px 0;
}

.subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'roboto-regular';
}

.tab-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:host ::ng-deep .mat-tab-labels {
    justify-content: center;
}

:host ::ng-deep .mat-tab-label {
    height: 72px;
    // width: 90px;
    min-width: 0!important;
}

:host ::ng-deep .mat-tab {
    width: 50px;
}

:host ::ng-deep .mat-tab-label-active {
   color: #1B82E6;
   min-width: 0!important;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #1B82E6;
} 